*{
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    
}

.todo{
    background-color: #e0bf6a;
    width: 20rem;
    min-height: 30rem;
    padding:1rem;
    margin:1rem;
    border-radius: 3px;
    box-shadow: 2px 2px 4px black;
}

h1{
    color:rgb(36, 25, 25);
    text-align: center;
}

form{
    text-align: center;
}

button{
    padding: 0.5rem;
    background-color: rgb(211, 253, 207);
    border-radius: 0 5px 5px 0;
}

input[name]{
    padding: 0.7rem;
}

input[name]:hover{
    background-color: rgb(231, 245, 240);
}

/* Ul */
ul{
    padding: 0.5rem;
}

li{
    background-color: rgb(150, 243, 212);
    font-size: 1rem;
    font-weight: bold;
    list-style-type: none;
    padding: 0.5rem;
    margin: .5rem;
    box-shadow: 2px 2px 3px rgb(58, 31, 31);
    border-radius: 4px;
}

li:nth-child(even){
    background-color:rgb(211, 253, 207);
}
